pandas==2.1.4
#pandas
#numpy
#pandasai
#numpy==1.26.4
numpy==1.26.2
#torch
#openai
#transformers
#pandasai>=3.0.0b2
pandasai==2.0.24
#pandasai-litellm
#pandasai-openai
streamlit
#pandasai-local
#lmstudio
#langchain-community
#genai_processors
#google-genai
pytest
PyYAML
