# .github/workflows/python-ci.yml
name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Install PyAudio step 1
      run: |
        sudo apt install portaudio19-dev python3-pyaudio

    - name: Install PyAudio step 2
      run: |
        pip install pyaudio

    - name: Run tests
      run: |
        if [ -f pytest.ini ] || [ -d tests ]; then pytest; fi
        
    - name: Run the tool
      run: |
        python3 src/main.py
